<div class="w-full bg-white">
  <div class="flex items-center space-y-1 ml-2 py-1">
    <img class="w-[2.5rem] h-[2.5rem] rounded-full" src="{{ profilImage }}" alt="Image de profil" />
    <div class="ml-6 flex flex-col">
      <span class="font-bold"> {{ firstName }} {{ lastName }} </span>
      <span class="text-gray-500 text-sm"> Nouveau membre </span>
    </div>
    <div class="ml-auto">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleGoToProfile()">
          <mat-icon>account_circle</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>manage_accounts</mat-icon>
          <span>Parametres</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
