.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#open_sidebar_icon {
  transition: 0.6s ease;
}

.rotate-270 {
  transform: rotate(90deg);
}

.open-sidebar-button{
  margin: 1rem 0 0 1rem;
  display: flex;
  justify-content: center;
}


