.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

#open_sidebar_icon {
  transition: 0.6s ease;

}

.rotate-180 {
  transform: rotate(-180deg);
}

.open-sidebar-button{
  min-width: 0;
  padding: 0;
}

