<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <app-sidebar-client></app-sidebar-client>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="flex flex-col gap-3 max-w-[95%] mx-auto">
      <div class="absolute left-2 top-2 z-50">
        <button mat-fab class="open-sidebar-button" (click)="sidenav.open()">
          <mat-icon id="open_sidebar_icon">menu</mat-icon>
        </button>
      </div>

      <h1 class="text-center !font-bold ">Liste des hotels </h1>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput  (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
      
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> Country </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>
      
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex">
              <mat-icon title="Add Room" (click)="addRooms(element)" aria-hidden="false" aria-label="Add button" fontIcon="add"></mat-icon>
            <mat-icon title="Edit Hotel" (click)="editHotel(element)" aria-hidden="false" aria-label="Edit button" fontIcon="edit"></mat-icon>
            <mat-icon title="Delete Hotel" (click)="deleteHotel(element)" aria-hidden="false" aria-label="Trash button" fontIcon="delete" class="hover:text-red-600 " ></mat-icon>
              </div>
          </td>
        </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <!--mat button that goes to the main page-->
        <button class="!mt-5 !ml-2" mat-raised-button color="primary" (click)="addHotelDialog()" >Add Hotel</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

