<ng-container>
  <hr class="w-4/5 mx-auto" />

  <div *ngIf="!user" style="display: flex; justify-content: center; align-content: center">
    <a routerLink="/" class="borderBetween" style="text-align: center">Se Connecter</a>
  </div>
  <app-user-badge
    *ngIf="!!user"
    class="borderBetween"
    [firstName]="user!.firstName"
    [lastName]="user!.lastName"
    [profilImage]="user!.image"
  ></app-user-badge>
  <hr class="w-4/5 mx-auto" />

  <router-outlet></router-outlet>
</ng-container>
