<div class='mt-8'>
  <h2 class="text-4xl font-bold text-center my-8">{{hotel.name}}</h2>
  <app-hotel-images-grid [images]='hotel.images'></app-hotel-images-grid>

  <div class='mt-4 flex gap-3'>
    <div *ngFor='let feature of features'
          class="whitespace-nowrap rounded-full bg-gray-200 px-2.5 py-0.5 text-sm text-gray-900 flex items-center gap-2">

      <mat-icon>{{feature.icon}}</mat-icon>
      {{feature.name}}</div>
  </div>

  <div class='h-full bg-gray-200 rounded-lg p-3 mt-4'>
    {{hotel.description}}
  </div>
</div>



<div class='mt-8'>
  <app-reservation-detail [hotelId]="hotelId"></app-reservation-detail>
</div>
