<form [formGroup]="hotelForm" class="flex flex-col justify-center items-center" (ngSubmit)="onClick()">

<mat-form-field appearance="outline">
  <mat-label>Address : </mat-label>
  <input matInput type="text" formControlName="address" placeholder="Address">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Description : </mat-label>
  <textarea
  matInput
  cdkTextareaAutosize
  #autosize=cdkTextareaAutosize
  cdkAutosizeMinRows="5"
  formControlName="description"
  placeholder="Description"></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Email : </mat-label>
  <input matInput type="text" formControlName="email" placeholder="Email">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Name : </mat-label>
  <input matInput type="text" formControlName="name" placeholder="Name">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Phone : </mat-label>
  <input matInput type="text" formControlName="phone" placeholder="Phone">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Website : </mat-label>
  <input matInput type="text" formControlName="website" placeholder="Website">
</mat-form-field>


<mat-dialog-actions>
  <button mat-raised-button type="submit" color="primary" [disabled]="!hotelForm.valid">Ok</button>
</mat-dialog-actions>

</form>

