<!-- signup from  -->

<ng-container>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmPassword" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
  </form>
</ng-container>
