@use '@angular/material' as mat;
@import 'src/variable.scss';
@include mat.core();

@tailwind components;
@tailwind utilities;


//Material theme
$rooms-front-primary: mat.define-palette($p-primary, 900);
$rooms-front-accent: mat.define-palette($p-accent, 700);

$rooms-front-warn: mat.define-palette(mat.$red-palette, A100);

$rooms-front-theme: mat.define-light-theme((
  color: (
    primary: $rooms-front-primary,
    accent: $rooms-front-accent,
    warn: $rooms-front-warn,
  )
));

@include mat.all-component-themes($rooms-front-theme);

//Global

@font-face {
  font-family: 'ApfelGrotezk';
  src: local('ApfelGrotezk'), url('./assets/fonts/ApfelGrotezk-Regular.woff') format('woff');
}
html, body { height: 100%; box-sizing: border-box;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.rotate-180{
  transform: rotate(180deg);
}

a {
  text-decoration: none;
}




.swiper-container {
  position: relative;
  width: calc(100% - 50px);
  min-width: 300px;
  height: calc(100% - 50px);
  min-height: 300px;
  margin: 50px auto;
  background-color: #F0F0F0;
  border-radius: 10px;

}

.swiper-slide {
  color: #000;
  text-align: center;
  line-height: 300px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;


}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $accent #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 10px;
  }