<div class='flex flex-col items-center'>
  <div>
    <h2>Sélectionner un hôtel</h2>
  </div>
  <div class="flex gap-3">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <div class="list_hotel flex flex-wrap gap-4 justify-center overflow-y-scroll h-[72vh]">
        <app-card-hotel *ngFor='let hotel of hotels' [hotel]='hotel'></app-card-hotel>
  </div>
</div>
